#leftSide {
  text-align: center  
}

#centerSide{
  text-align: right;
  color: black;  
  }


#rightSide{
  text-align: center;
  color: black;
}

.jumbotron-fluid {
  font-family: 'vanillaW';
  color: rgb(85, 73, 66);
  text-align: center;
}

body {
  background-image: url("brickwalls.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: aliceblue;
  background-color: black;
  background-attachment: fixed;    
}
.btn {
  color: aliceblue;
}


@font-face {
  font-family: 'vanillaW';
  src: url(vanilla\ whale.ttf);
}

